:root {
    --cellSize: 35px;
}

* {
    margin: 0;
    padding: 0;
}


.boardHolder {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 5%;
    /*border: solid #e600ff 1px;*/
    justify-content: center;
    z-index: -10;
}

.board {
    display: flex;
    position: relative;
    /*left: 50%;*/
    /*margin-left: -400px;*/
    /*width: 800px;*/
    border: solid blue 1px;
}

.cellRow {
    /*display: flex;*/
}

.cell {
    width: var(--cellSize);
    height: var(--cellSize);
}

.blueCell {
    color: rgba(255, 255, 255, 0);
    background: blue;
}

.whiteCell {
    color: rgba(255, 255, 255, 0);
    background: #8ee073;
}

.redCell {
    color: rgba(255, 255, 255, 0);
    background: red;
}

.blackCell {
    color: rgba(255, 255, 255, 0);
    background: #000000;
}