:root{
    --cellSize: 15px;
}
.board{
    border: solid 2px blue;
    display: flex;
}
.cellRow {
    /*display: flex;*/
}

.cell {
    width: var(--cellSize);
    height: var(--cellSize);
}

.blueCell {
    /*font-size: 10px;*/
    color: #e600ff;
    color: #ff002f;
    background: blue;
}

.redCell {
    color: red;
    background: red;
}

.blackCell {
    background: black;
    color: red;
}