.controlPanelHolder {
    display: flex;
    flex-direction: column;
    border: solid #000000 1px;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 500px;
}

.speedInput {
    
}

.boardSizeInput {

}

button {
    width: 120px;
    font-size: 17px;
    margin: 5px;
}