.controlPanelHolder {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin: 5% 0 0 -330px;
    padding: 30px;
    font-size: 40px;
    background: rgba(237, 168, 255, 0.24);
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px 0 10px;
}

button {
    font-size: 17px;
    width: 120px;
    height: 40px;
    padding: 0;
    margin: 0;
}